<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Update Effort</h3>
				</div><!-- /.box-header -->


				<div class="box-body">
					<div>
						<label>Title : </label>
						<span >{{userstory.usName}}</span>
					</div>

					<label>Description : </label>
					<span>{{userstory.usDesc}}</span>

				<div class="form-group">
					<label>Release : </label>
					<span>{{userstory.release.relsName}}</span>
				</div>

				<div class="form-group">
					<label>Product : </label>
					<span>{{userstory.product.prdName}}</span>
				</div>

				

				<div class="form-group">
					<label>Estimate Time : </label>
					<span>{{userstory.estTimeEff}}</span>
				</div>

				<!-- <div class="form-group">
					<a class="btn btn-default pull-left">Hello </a>
				</div> -->
				
			</div>


		</div>
	</div>
	</div>
</section>